nifi-templates/Ems_Kafaka_Processor_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>6fec7e5d-0172-1000-2a6c-dee99b82a5ac</groupId>
    <name>Ems_Kafaka_Processor_Template</name>
    <snippet>
        <controllerServices>
            <id>0fc6dabc-3f29-3805-0000-000000000000</id>
            <parentGroupId>8054cfad-968e-341e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>student</key>
                    <value>
                        <name>student</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistryStudentData</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>student</key>
                    <value>{
  "name": "ReadEMSRecord",
  "namespace": "nifi",
  "type": "record",
  "fields": [
    { "name": "studentId", "type": "string" },
    { "name": "name", "type": "string" },
    { "name": "address", "type": "string" },
    { "name": "branch", "type": "string" },
    { "name": "department", "type": "string" },
    { "name": "section", "type": "string" },
    { "name": "gender", "type": "string" },
    { "name": "batch", "type": "string" },
    { "name": "emailId", "type": "string" },
    { "name": "totalFee", "type": "int" },
    { "name": "depositedFee", "type": "int" },
	{ "name": "remainingFee", "type": "int" },
	{ "name": "academicYear", "type": "string" }
  ]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>97375e85-029c-3df8-0000-000000000000</id>
            <parentGroupId>8054cfad-968e-341e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReaderStudentData</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>0fc6dabc-3f29-3805-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>student</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>fc0b239a-dfa6-38b7-0000-000000000000</id>
            <parentGroupId>8054cfad-968e-341e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-influx-database-nar</artifact>
                <group>org.influxdata.nifi</group>
                <version>1.8.0-SNAPSHOT</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>inluxdb-ssl</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>inluxdb-ssl</name>
                    </value>
                </entry>
                <entry>
                    <key>inluxdb-ssl-auth</key>
                    <value>
                        <name>inluxdb-ssl-auth</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-url</key>
                    <value>
                        <name>influxdb-url</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-connection-timeout</key>
                    <value>
                        <name>influxdb-connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-username</key>
                    <value>
                        <name>influxdb-username</name>
                    </value>
                </entry>
                <entry>
                    <key>influxdb-password</key>
                    <value>
                        <name>influxdb-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardInfluxDatabaseServiceEMS</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>inluxdb-ssl</key>
                </entry>
                <entry>
                    <key>inluxdb-ssl-auth</key>
                    <value>REQUIRED</value>
                </entry>
                <entry>
                    <key>influxdb-url</key>
                    <value>http://localhost:8086</value>
                </entry>
                <entry>
                    <key>influxdb-connection-timeout</key>
                    <value>0 seconds</value>
                </entry>
                <entry>
                    <key>influxdb-username</key>
                </entry>
                <entry>
                    <key>influxdb-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.influxdata.nifi.services.StandardInfluxDatabaseService</type>
        </controllerServices>
        <processGroups>
            <id>483f04c0-00b6-3ca9-0000-000000000000</id>
            <parentGroupId>8054cfad-968e-341e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>5b257cf2-3f6e-3be6-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>8ac77fd9-94c4-3c86-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>preference</selectedRelationships>
                    <source>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>6655cc81-0b65-3fef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5d625182-e7ec-34e2-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>6655cc81-0b65-3fef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>bf69592d-da32-3464-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7ccdb77e-eb17-3f57-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>ec73090f-8208-32ea-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>917115b8-f007-339b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9519bddd-4e87-3d17-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>917115b8-f007-339b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>admission</selectedRelationships>
                    <source>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>6655cc81-0b65-3fef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d18f54a5-9d71-3672-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>d53c8044-485c-323b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>483f04c0-00b6-3ca9-0000-000000000000</groupId>
                        <id>8ac77fd9-94c4-3c86-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>fd76c263-1ad6-382f-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReaderAdmissionData</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <processors>
                    <id>6655cc81-0b65-3fef-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>560.0</x>
                        <y>-56.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>admission</key>
<value>
    <name>admission</name>
</value>
                            </entry>
                            <entry>
<key>preference</key>
<value>
    <name>preference</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>admission</key>
<value>${kafka.topic:equals('admission')}</value>
                            </entry>
                            <entry>
<key>preference</key>
<value>${kafka.topic:equals('preference')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>admission</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>preference</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>8ac77fd9-94c4-3c86-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-influx-database-nar</artifact>
                        <group>org.influxdata.nifi</group>
                        <version>1.8.0-SNAPSHOT</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-service</key>
<value>
    <identifiesControllerService>org.influxdata.nifi.services.InfluxDatabaseService</identifiesControllerService>
    <name>influxdb-service</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-dbname</key>
<value>
    <name>influxdb-dbname</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-enable-gzip</key>
<value>
    <name>influxdb-enable-gzip</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-log-level</key>
<value>
    <name>influxdb-log-level</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-consistency-level</key>
<value>
    <name>influxdb-consistency-level</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-retention-policy</key>
<value>
    <name>influxdb-retention-policy</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-enable-batch</key>
<value>
    <name>influxdb-enable-batch</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-flush-duration</key>
<value>
    <name>influxdb-batch-flush-duration</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-actions</key>
<value>
    <name>influxdb-batch-actions</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-jitter-duration</key>
<value>
    <name>influxdb-batch-jitter-duration</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-buffer-limit</key>
<value>
    <name>influxdb-batch-buffer-limit</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-measurement</key>
<value>
    <name>influxdb-measurement</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-tags</key>
<value>
    <name>influxdb-tags</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-tags-field-behavior</key>
<value>
    <name>influxdb-tags-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-fields</key>
<value>
    <name>influxdb-fields</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-fields-field-behavior</key>
<value>
    <name>influxdb-fields-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-field</key>
<value>
    <name>influxdb-timestamp-field</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-precision</key>
<value>
    <name>influxdb-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-complex-field-behavior</key>
<value>
    <name>influxdb-complex-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-null-behavior</key>
<value>
    <name>influxdb-null-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-max-records-size</key>
<value>
    <name>influxdb-max-records-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>97375e85-029c-3df8-0000-000000000000</value>
                            </entry>
                            <entry>
<key>influxdb-service</key>
<value>fc0b239a-dfa6-38b7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>influxdb-dbname</key>
<value>ems</value>
                            </entry>
                            <entry>
<key>influxdb-enable-gzip</key>
<value>false</value>
                            </entry>
                            <entry>
<key>influxdb-log-level</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>influxdb-consistency-level</key>
<value>ONE</value>
                            </entry>
                            <entry>
<key>influxdb-retention-policy</key>
<value>autogen</value>
                            </entry>
                            <entry>
<key>influxdb-enable-batch</key>
<value>false</value>
                            </entry>
                            <entry>
<key>influxdb-batch-flush-duration</key>
<value>1000 ms</value>
                            </entry>
                            <entry>
<key>influxdb-batch-actions</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>influxdb-batch-jitter-duration</key>
<value>0 ms</value>
                            </entry>
                            <entry>
<key>influxdb-batch-buffer-limit</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>influxdb-measurement</key>
<value>student</value>
                            </entry>
                            <entry>
<key>influxdb-tags</key>
<value>branch,department,section,gender,batch,totalFee</value>
                            </entry>
                            <entry>
<key>influxdb-tags-field-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-fields</key>
<value>studentId, name, address, branch, department, section, gender, batch, emailId, totalFee, depositedFee, remainingFee, academicYear</value>
                            </entry>
                            <entry>
<key>influxdb-fields-field-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-field</key>
<value>timestamp</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-precision</key>
<value>NANOSECONDS</value>
                            </entry>
                            <entry>
<key>influxdb-complex-field-behavior</key>
<value>TEXT</value>
                            </entry>
                            <entry>
<key>influxdb-null-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-max-records-size</key>
<value>1 MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutInfluxDatabaseRecordPreferencTopic</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.influxdata.nifi.processors.PutInfluxDatabaseRecord</type>
                </processors>
                <processors>
                    <id>917115b8-f007-339b-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>960.0</x>
                        <y>-216.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-influx-database-nar</artifact>
                        <group>org.influxdata.nifi</group>
                        <version>1.8.0-SNAPSHOT</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-service</key>
<value>
    <identifiesControllerService>org.influxdata.nifi.services.InfluxDatabaseService</identifiesControllerService>
    <name>influxdb-service</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-dbname</key>
<value>
    <name>influxdb-dbname</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-enable-gzip</key>
<value>
    <name>influxdb-enable-gzip</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-log-level</key>
<value>
    <name>influxdb-log-level</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-consistency-level</key>
<value>
    <name>influxdb-consistency-level</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-retention-policy</key>
<value>
    <name>influxdb-retention-policy</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-enable-batch</key>
<value>
    <name>influxdb-enable-batch</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-flush-duration</key>
<value>
    <name>influxdb-batch-flush-duration</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-actions</key>
<value>
    <name>influxdb-batch-actions</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-jitter-duration</key>
<value>
    <name>influxdb-batch-jitter-duration</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-batch-buffer-limit</key>
<value>
    <name>influxdb-batch-buffer-limit</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-measurement</key>
<value>
    <name>influxdb-measurement</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-tags</key>
<value>
    <name>influxdb-tags</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-tags-field-behavior</key>
<value>
    <name>influxdb-tags-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-fields</key>
<value>
    <name>influxdb-fields</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-fields-field-behavior</key>
<value>
    <name>influxdb-fields-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-field</key>
<value>
    <name>influxdb-timestamp-field</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-precision</key>
<value>
    <name>influxdb-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-complex-field-behavior</key>
<value>
    <name>influxdb-complex-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-null-behavior</key>
<value>
    <name>influxdb-null-behavior</name>
</value>
                            </entry>
                            <entry>
<key>influxdb-max-records-size</key>
<value>
    <name>influxdb-max-records-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>fd76c263-1ad6-382f-0000-000000000000</value>
                            </entry>
                            <entry>
<key>influxdb-service</key>
<value>fc0b239a-dfa6-38b7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>influxdb-dbname</key>
<value>ems</value>
                            </entry>
                            <entry>
<key>influxdb-enable-gzip</key>
<value>false</value>
                            </entry>
                            <entry>
<key>influxdb-log-level</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>influxdb-consistency-level</key>
<value>ONE</value>
                            </entry>
                            <entry>
<key>influxdb-retention-policy</key>
<value>autogen</value>
                            </entry>
                            <entry>
<key>influxdb-enable-batch</key>
<value>false</value>
                            </entry>
                            <entry>
<key>influxdb-batch-flush-duration</key>
<value>1000 ms</value>
                            </entry>
                            <entry>
<key>influxdb-batch-actions</key>
<value>1000</value>
                            </entry>
                            <entry>
<key>influxdb-batch-jitter-duration</key>
<value>0 ms</value>
                            </entry>
                            <entry>
<key>influxdb-batch-buffer-limit</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>influxdb-measurement</key>
<value>admission_inquiry</value>
                            </entry>
                            <entry>
<key>influxdb-tags</key>
<value>id</value>
                            </entry>
                            <entry>
<key>influxdb-tags-field-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-fields</key>
<value>id,name,address,branch,department,gender,batch,emailId,academicYear</value>
                            </entry>
                            <entry>
<key>influxdb-fields-field-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-field</key>
<value>timestamp</value>
                            </entry>
                            <entry>
<key>influxdb-timestamp-precision</key>
<value>NANOSECONDS</value>
                            </entry>
                            <entry>
<key>influxdb-complex-field-behavior</key>
<value>TEXT</value>
                            </entry>
                            <entry>
<key>influxdb-null-behavior</key>
<value>IGNORE</value>
                            </entry>
                            <entry>
<key>influxdb-max-records-size</key>
<value>1 MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutInfluxDatabaseRecordAdmissionTopic</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.influxdata.nifi.processors.PutInfluxDatabaseRecord</type>
                </processors>
                <processors>
                    <id>bf69592d-da32-3464-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>-64.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>
    <name>sasl.mechanism</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>sasl.username</key>
<value>
    <name>sasl.username</name>
</value>
                            </entry>
                            <entry>
<key>sasl.password</key>
<value>
    <name>sasl.password</name>
</value>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>
    <name>sasl.token.auth</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>localhost:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.mechanism</key>
<value>GSSAPI</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>sasl.username</key>
                            </entry>
                            <entry>
<key>sasl.password</key>
                            </entry>
                            <entry>
<key>sasl.token.auth</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>preference,admission</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>kafka_topic</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_0</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
                </processors>
                <processors>
                    <id>d53c8044-485c-323b-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>1344.0</x>
                        <y>104.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>ec73090f-8208-32ea-0000-000000000000</id>
                    <parentGroupId>483f04c0-00b6-3ca9-0000-000000000000</parentGroupId>
                    <position>
                        <x>1368.0</x>
                        <y>-224.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
            </contents>
            <name>EMS_GROUP</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/17/2020 15:23:36 IST</timestamp>
</template>
